body {
    margin-top: 60px;
    margin-bottom: 60px; 
    font-family: "Hoefler Text";
    margin-left: 150px; 
    margin-right: 150px; 
    padding-right: 160px;
    padding-left: 160px;
}



.navul {
    list-style: none;
    text-align: right;
 }

 h3 {
    text-align: left; 
 }



.nav-bar {
    font-family: "Garamond",
        Baskerville,
        "Baskerville Old Face",
        "Hoefler Text";
    display: inline;
    font-size: 20px; 
    padding: 14px;
}

.title{ 
    font-size: 70px;
    font-family: "Garamond",
            Baskerville,
            "Baskerville Old Face",
            "Hoefler Text";

        
}

.intro { 
    margin-top: -0px; 
    font-size: 20px; 
    font-family: "Garamond",
        Baskerville,
        "Baskerville Old Face",
        "Hoefler Text";


}


h2, h3{
    font-family: "Garamond",
        Baskerville,
        "Baskerville Old Face",
        "Hoefler Text";
}

h3{
    font-family: "Garamond",
        Baskerville,
        "Baskerville Old Face",
        "Hoefler Text";
}

h4 {
    font-family: "Lato"
}

p {
    font-family: "Hoefler Text"; 
    font-size: 19px;
    font-synthesis: none;
    line-height: 1.1;
}


li{ 
    font-family: "Hoefler Text";
    font-size: 19px;
}
img {
 

    width: 325px;
        aspect-ratio: 1 / 1;
        object-fit: cover;
        object-position: 43% center; 

}


.white-space {
    padding: 15px;
}

.left {
    text-align: left; 
}


a:link {
    text-decoration: none; 
}


a:hover{
    color: #6b8e23;    
    font-weight: bold;
} 

h1 {
   /* color: #ff6b6b; */ 
    font-family:"Garamond",
        Baskerville,
        "Baskerville Old Face",
        "Hoefler Text";

}

.navul a:link {
    color:black; 
    
}

.navul a:visited{
    color: black;; 
}

.navul a:active{
    text-decoration: underline; 
    text-decoration-color: #6b8e23;

}

.navul a:hover{
    font-weight: bold; 
    color: #6b8e23;

}

.flex-container {
    display: flex;
    flex-direction: row;
    flex-flow: row wrap;  

} 

.subtitle{ 
    font-size: 17px;
    font-family: "Garamond",
        Baskerville,
        "Baskerville Old Face",
        "Hoefler Text";
    line-height:22px;  
}

.flex-container > div{ 
    margin-right: 30px;
    padding-right: 30px;  
}


.subtitleproject{ 
    font-size: 17px;
    font-family: "Garamond",
        Baskerville,
        "Baskerville Old Face",
        "Hoefler Text";
    line-height:22px;  
    line-height: 25px; 
}


.diagram {
    height: 225px; 
    max-width: 225px;  
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.personas{ 
    margin-right: 600px; 
}

.column {
    float: right;
    width: 50%;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

.horizontalcenter{
    padding: 20px;
    resize: vertical;
    overflow: auto;
}

.method{
        max-width:60%;
        max-height:60%;
}

.method{
    display: block;
    margin-left: auto;
    margin-right: auto; }

.shoutout{ 
    line-height: 40px;
}

.demo {
    height: 700px;
    width: auto; 
    
}

.text-break {
    border: none;
    height: 3px;
    width: 120px;
    margin: 40px auto;
    background: linear-gradient(to right, #6b8e23, #d3cce3);
    border-radius: 50px; }

.emoji-break {
  text-align: center;
  font-size: 28px;
  margin: 30px 0;
}
